<nav class="flex items-center justify-between p-5 w-[96%] mx-auto rounded-t-[1.5rem] bg-[#3b0764] mt-5 text-white">
  
  <!-- logo nav section -->
  <div class="flex items-center justify-start w-[10%]">
    <a href="/" class="font-bold text-3xl">Cine.id</a>
  </div>

  <!-- main section -->
  <div class="hidden sm:flex items-center justify-between w-[20rem] bg-black px-5 py-3 text-[#ccc] rounded-[2rem]">
    <a href="/movies" class="hover:text-white">Movies</a>
    <a href="#" class="hover:text-white">Series</a>
    <a href="#" class="hover:text-white">Originals</a>

    <!-- search button -->
    <div class="search p-2 rounded-[50%] hover:bg-[#aaaaaa89] hover:cursor-pointer">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>

  </div>

  <!-- User nav section -->
  <div class="flex items-center justify-around sm:w-[15%]">
    <a href="/notifications">
      <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M15.133 10.632v-1.8a5.407 5.407 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V1.1a1 1 0 0 0-2 0v2.364a.944.944 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C4.867 13.018 3 13.614 3 14.807 3 15.4 3 16 3.538 16h12.924C17 16 17 15.4 17 14.807c0-1.193-1.867-1.789-1.867-4.175Zm-13.267-.8a1 1 0 0 1-1-1 9.424 9.424 0 0 1 2.517-6.39A1.001 1.001 0 1 1 4.854 3.8a7.431 7.431 0 0 0-1.988 5.037 1 1 0 0 1-1 .995Zm16.268 0a1 1 0 0 1-1-1A7.431 7.431 0 0 0 15.146 3.8a1 1 0 0 1 1.471-1.354 9.425 9.425 0 0 1 2.517 6.391 1 1 0 0 1-1 .995ZM6.823 17a3.453 3.453 0 0 0 6.354 0H6.823Z"/>
    </svg>
    </a>
    
    <img class="rounded-full w-10 h-10" src="https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-user-profile-avatar-png-image_10211467.png" alt="image description">
  
    <span> Sarah J. </span>
  </div>

</nav>
