<nav class="flex items-center justify-between p-5 w-[96%] mx-auto rounded-b-lg">
  <div class="logo flex items-center justify-start w-[10%]"  >
    <a href="/" class="font-bold text-3xl">Cine.id</a>
  </div>

  <div class="categories flex items-center justify-between w-[22rem] bg-black px-5 py-3 text-[#ccc] rounded-[2rem]">
    <a href="/movies" class="hover:text-white">Movies</a>
    <a href="#" class="hover:text-white">Series</a>
    <a href="#" class="hover:text-white">Originals</a>

    <div class="search p-2 rounded-[50%] hover:bg-[#aaaaaa89] hover:cursor-pointer ">
      <svg
        class="w-4 h-4"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>
  </div>
  <div class="users flex items-center justify-between w-[15%]" >
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
      />
    </svg>
    <svg
      class="w-4 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
      />
    </svg>
    <span> Sarah J. </span>
  </div>
</nav>
