<% layout("/layouts/boilerplate") %>

<body>
    <div class="W-[96%] flex flex-col">
        <form action="/movies" class="w-[70%] mx-auto" method="POST">
            <h1 class="text-center font-bold font-serif p-5">Create new Movie</h1>
            <div class="w-[90%] my-5 flex items-center justify-between">
                <input type="text" id="small-input" class="block  p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[60%]"
                placeholder="Enter title" name="movie[title]" required>

                <input type="number" id="small-input" class="block w-[30%] p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                placeholder="Enter year" min="1900" name="movie[year]" required>
                

            </div>

            <div class="w-[90%] my-5 flex items-center justify-between">
                <input type="text" id="small-input" class="block  p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[60%]"
                placeholder="Enter genres" name="movie[genre]" required>

                <input type="number" id="small-input" class="block w-[30%] p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                placeholder="duration" min="0" name="movie[duration]" required>
                

            </div>

            <div class="w-[90%] my-5 flex items-center justify-between">
                <input type="text" id="small-input" class="block  p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[48%]"
                placeholder="Cast" name="movie[cast]" required>

                <input type="text" id="small-input" class="block w-[48%] p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                placeholder="Directors" name="movie[director]" required>
                

            </div>

            <div class="w-[90%] my-5 flex items-center justify-between">
                <input type="url" id="small-input" class="block  p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-[60%]"
                placeholder="Image url" name="movie[url]" required>

                <input type="number" id="small-input" class="block w-[30%] p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 "
                placeholder="Rating"  min="0" name="movie[rating]" required>
                

            </div>
            <div class="w-[90%] my-5 flex items-center justify-between">
                <textarea id="message" rows="4" class="block p-3.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter description..." name="movie[synopsis]" required></textarea>

            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add movie </button>

        </form>

    </div>
    
</body>